@{
    ViewData["Title"] = "Create Page";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>

    <form method="post" action="/User/Create">
        <div class="mb-3">
            <label for="InputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="InputName" name="Name">
        </div>
        <div class="mb-3">
            <label for="InputSurname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="InputSurname" name="Surname">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p class="mt-3">Already have a account? <a href="/User/Login">Sign in</a>.</p>
</div>
